.App {
	width: 100%;
	text-align: center;
}

.grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 15px solid #000000;
	margin: auto auto;
}

.grid-item {
	border: 0px solid red; 
}

.scoreboard {
	display: flex;
	justify-content: space-evenly;
}
